<div class= 'banner_container'>
  <%= cl_image_tag "jizhidexiaohailang_u5kjm5", effect: "sharpen", id: 'sport_banner' %>
  <h1>Discover our sports</h1>
</div>
<div class="container-category-sports">
  <div>
    <h2 class="text ">Categories</h2>
    <div class="sport_categories">
      <% @categories.each do |category| %>
        <div class="singlecard_category">
          <%= link_to category.name, sports_path(query: category.name, type: 'cat'), method: :get %></h3>
      </div>
    <% end %>
  </div>

</div>
<div>
  <div class="activity-title">
    <h2>All Sports</h2>
  </div>
  <%= form_tag sports_path, method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Search a sport or category"
  %>
  <% end %>
  <div class= "big_sport_container">
    <% @sports.each do |sport| %>
      <% if sport.photo.attached? %>
        <a href="<%=sport_path(sport) %>"class= 'sport_card' style="background-image: url(<%= cl_image_path sport.photo.key %>)">
          <%= sport.kind.capitalize %>
        </a>
      <% end %>
    <% end %>

  </div>
</div>
</div>
