<%= form_tag sports_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Search a sport or category"
  %>
  <div class="btn-positionn">
    <div ><%= submit_tag "Search", class: "btn button-633" %></div>
  <% end %>
</div>
<div class="recommended-title">
  <h3>Recommended</h3>
</div>
<div class="recommended_cards">
  <% @recommended.each do |sport|%>
    <div class="recommended_card">
      <strong ><%= link_to "#{sport.kind}", sport_path(sport) %></strong>
    </div>
  <% end %>
  <h2>Categories</h2>
  <div class="sport_categories">
    <% @categories.each do |category| %>
      <div class="singlecard_category">
        <%= link_to category.name, sports_path(query: category.name, type: 'cat'), method: :get %>
      </div>
    <% end %>
  </div>
</div>
<h1 class="text-center">All sports</h1>
<div class= 'sport_container'>
  <% @sports.each do |sport| %>
    <div class="sport_card">
      <strong ><%= link_to "#{sport.kind}", sport_path(sport) %></strong>
    </div>
  <% end %>
</div>
<div class="map">
</div>
