<%= form_tag sports_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Search a sport or category"
  %>
  <div class="btn-positionn">
    <div ><%= submit_tag "Search", class: "btn button-633" %></div>
  <% end %>
</div>
<h2 class="text-center">Categories</h2>
<div class="sport_categories">
  <% @categories.each do |category| %>
    <div class="singlecard_category">
      <%= link_to category.name, sports_path(query: category.name, type: 'cat'), method: :get %>
    </div>
  <% end %>
</div>
</div>
<h1 class="text-center">All sports</h1>
<div class= 'sport_container'>
  <% @sports.each do |sport| %>
    <a href="<%=sport_path(sport)%>" class="sport_card">
      <strong ><%=sport.kind %></strong>
    </a>
  <% end %>
  <div class="map">
  </div>
