<h1>All sports</h1>
<div class= 'container'>
  <% @sports.each do |sport| %>
    <div class="sport_card">
      <strong ><%= sport.kind %></strong>
      <%# <%= image_tag 'https://source.unsplash.com/1600x900/?person' %>
      <%# <%= link_to "Delete", sport_path(@sport), method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  <% end %>
</div>
<div class="map">
</div>
<%= form_tag sports_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Search a sport or category"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
<% @sports.each do |sport| %>
  <div class="sport_card">
    <strong ><%= link_to "#{sport.kind}", sport_path(sport) %></strong>
  </div>
<% end %>
