<div class="titre">
  <h1><%= @sport.kind.capitalize %></h1>
</div>
<div id="map"
  style="style=width: 90%; height: 45vh; justify-content: center; margin-top: 40px; margin-left: 5%; margin-right: 5%"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  >
</div>
<h3>Find an activity for <%= @sport.kind %></h3>
<%= form_tag sport_path, method: :get do %>
  <%= date_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Choose a date"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
<div class="container_activities">
  <ul>
    <% @activities.each do |activity| %>
      <li>
        <%= link_to  activity_path(activity) do %>
          <div class="activity_description">
            <%= activity.description %>
            <%= activity.date %>
            <p>Level: <% activity.level.times do  %>
                <span class="glyphicon glyphicon-star">💪</span>
              <% end %>
            </p>
            <p>posted by <%= activity.user.nickname %></p>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
<div class='sport_users'>
  <h3>Find your buddy for <%= @sport.kind %></h3>
  <% @sport.users.each do |user| %>
    <%= cl_image_tag user.photo.key, height: 70, width: 70, crop: :fill, radius: 20 %>
    <%= user.nickname %>
    <% user.preferences.each do |preference| %>
      <% if preference.sport == @sport %>
        <%= preference.level %>
      <% end %>
    <% end %>
  <% end %>
</div>
