<div class="titre">
  <h1><%= @sport.kind.capitalize %></h1>
</div>
<div id="map"
  style="style=width: 90%; height: 45vh; border-radius: 50px; justify-content: center; margin-top: 40px; margin-left: 5%; margin-right: 5%"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  >
</div>
<div class=container_new_activity>
  <div class="titre 2">
    <h1>New activity</h1>
  </div>
  <div class="new_activity_info">
    <%= simple_form_for @activity do |f| %>
      <%= f.input :localisation, placeholder: 'Royal park, 1000 brussel'%>
      <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"}%>
      <%= f.input :description, placeholder: 'Jogging'%>
      <%= f.association :sport, label_method: :kind %>
      <%= f.submit class: 'btn btn-secondary' %>
    <% end %>
  </div>
</div>
<div class="container_activities">
  <ul>
    <% @activities.each do |activity| %>
      <li>
        <%= link_to  activity_path(activity) do %>
          <div class="activity_description">
            <%= activity.description %>
            <p>Level: <% activity.level.to_i.times do  %>
                <span class="glyphicon glyphicon-star">💪</span>
              <% end %>
            </p>
            <%= activity.user.nickname %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
