<%# <div class="titre">
  <h1><%= @sport.kind.capitalize %>
<div class="two-columns">
  <div class="col-first">
    <h3>Activities and Buddies for <%= @sport.kind %></h3>
    <%= form_tag sport_path, method: :get, class: "d-flex  form-aligned" do %>
      <%= date_field_tag :query,
            params[:query]
          %>

          <%= submit_tag "Search", class: "btn btn-primary search-btn" %>
        <% end %>

<div class="container-card-product">


      <% @sport.users.each do |user| %>
       <div class="card-product">
       <% if user.photo.attached? %>
        <%= cl_image_tag user.photo.key, height: 70, width: 70, radius: 20 %>
        <% end %>
        <div class="card-product-user">
          <h4><%= user.nickname %></h4>
          <p><%= user.description %></p>
          <p><%= user.age %></p>
          <% user.preferences.each do |preference| %>
            <% if preference.sport == @sport %>
              <p><%= @sport.kind.capitalize %> : <%= preference.level.to_i.times do  %>💪<% end %></p>
            <% end %>
          <% end %>
        </div>
      </div>
      <% end %>
      <% @activities.each do |activity| %>

            <div class="card-product">
                <%= cl_image_tag (User.find_by(id: activity.user_id).photo.key) %>
                      <div class="card-product-infos">
                          <p><% if activity.description.length <= 50 %></p>
                            <h4><%= activity.description.capitalize %></h4>
                            <% else %>
                            <%= "#{activity.description[0, 50]} ..." %>
                          <% end %>
                          <p><%= activity.date %></p>
                          <p>Level: <% activity.level.to_i.times do  %>
                            <span class="glyphicon glyphicon-star">💪</span>
                          <% end %>
                          </p>
                          <p>posted by <%= activity.user.nickname %></p>
                          <%= link_to activity_path(activity), class: "card-activities" do %>
                          <div class="letsgo"><p>Lets Go !</p><i class="fas fa-arrow-right"></i></div>
                        <% end %>
                      </div>
                </div>
           <% end %>
      </div>
  </div>
  <div class="col-second">
    <div id="map"
    style="width: 100%; height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      >
    </div>
  </div>
</div>
