<div class="titre">
  <h1><%= @sport.kind.capitalize %></h1>
</div>
<div id="map"
  style="style=width: 90%; height: 45vh; justify-content: center; margin-top: 40px; margin-left: 5%; margin-right: 5%; border-radius: 50px; margin-bottom: 40px"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  >
</div>
<div class="activity-page">
  <h3>Find an activity for <%= @sport.kind %></h3>
</div>
  <%= form_tag sport_path, method: :get, class: "text-center d-flex flex-column" do %>
    <%= date_field_tag :query,
      params[:query],
      class: "form-date"
    %>
    <%= submit_tag "Search", class: "btn btn-primary btn-sm mt-1" %>
  <% end %>
<div class="container-card-activities">
  <% @activities.each do |activity| %>
    <%= link_to activity_path(activity), class: "card-activities" do %>
                  <div class="acti-descript"><%= activity.description %></div>
                  <%= activity.date %>
                  <p>Level: <% activity.level.times do  %>
                      <span class="glyphicon glyphicon-star">💪</span>
                    <% end %>
                  </p>
                    <p>posted by <%= activity.user.nickname %></p>
                    <p>Lets Go !</p><i class="fas fa-arrow-right"></i>



      <% end %>
  <% end %>
</div>
<div class='sport_users'>
  <h3>Buddies for <%= @sport.kind %></h3>
  <% @sport.users.each do |user| %>
    <%= cl_image_tag user.photo.key, height: 70, width: 70, crop: :fill, radius: 20 %>
    <%= user.nickname %>
    <% user.preferences.each do |preference| %>
      <% if preference.sport == @sport %>
        <%= preference.level %>
      <% end %>
    <% end %>
  <% end %>
</div>
