<%# <div class="titre">
  <h1><%= @sport.kind.capitalize %>

<div class="two-columns">
  <div class="col-first">


      <h3>Activities and Buddies for <%= @sport.kind %></h3>

      <%= form_tag sport_path, method: :get, class: "d-flex  form-aligned" do %>
          <%= date_field_tag :query,
            params[:query]
          %>
          <%= submit_tag "Search", class: "btn btn-primary btn-sm mt-1" %>
        <% end %>

<div class="container-card-product">


      <% @sport.users.each do |user| %>
       <div class="card-product">
       <% if user.photo.attached? %>
        <%= cl_image_tag user.photo.key, height: 70, width: 70, crop: :fill, radius: 20 %>
        <% end %>
        <%= user.nickname %>
        <% user.preferences.each do |preference| %>
          <% if preference.sport == @sport %>
            <%= preference.level %>
          <% end %>
        <% end %>
      </div>
      <% end %>
      <% @activities.each do |activity| %>

            <div class="card-product">
                <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
                      <div class="card-product-infos">
                          <p><%= activity.description %></p>
                          <p><%= activity.date %></p>
                          <p>Level: <% activity.level.times do  %>
                            <span class="glyphicon glyphicon-star">💪</span>
                          <% end %>
                          </p>
                          <p>posted by <%= activity.user.nickname %></p>
                          <%= link_to activity_path(activity), class: "card-activities" do %>
                          <p>Lets Go !</p><i class="fas fa-arrow-right"></i>
                        <% end %>
                      </div>
                </div>
           <% end %>
      </div>
  </div>
  <div class="col-second">
    <div id="map"
    style="width: 100%; height: 100%"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      >
    </div>
  </div>
</div>

