<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <i class="fas fa-home"></i>
  <% end %>
  <div class="title_app text-center">BugsBuddy</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Add activity", new_activity_path, class: "nav-link" %>
        </li>
        <%= link_to sports_path, class: "navbar-brand" do %>
          <i class="fas fa-futbol"></i>
        <% end %>
        <%= link_to  dashboard_path, class: "nav-link" do %>
          <i  id="solologo" class="fas fa-user-alt"></i>
        <% end %>
        <li class="nav-item_dropdown">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, height:30, width:30, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            <%= link_to "Add activity", new_activity_path, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
