


<h1>My Profile</h1>
<% if current_user.photo.attached? %>
  <%= cl_image_tag current_user.photo.key, height: 300, width: 400, crop: :fill %>
  <h3>Description: <%= current_user.description %></h3>
  <% end %>

<h3>Activities created by myself</h3>

<div class="all_activities">
<% @activities_mine.each do |activ| %>
<div class="activityy_card">
<% time_delta = (activ.date - DateTime.current.beginning_of_day).to_f %>
  <% if time_delta < 0 %>
    <h6><%= activ.date %> (<%= -time_delta.round(0) %> days ago)</h6>
    <h4><%= activ.sport.kind  %></h4>
    <h6><%= activ.description %></h6>
    <h4>You completed your activity!</h4>

    <% else %>
      <h6><%= activ.date %> (in <%= time_delta.round(0) %> days)</h6>
      <h4><%= activ.sport.kind  %></h4>
      <h6><%= activ.description %></h6>
  <% end %>
  </div>
<% end %>
</div>

<h2>Buddies activites: Upcoming/ Finished</h2>
<% @user_activities_by_user.each do |user_activiti| %>
<%= user_activiti.activity.sport.kind %>
<% end %>


<% @user_activities_by_user %>
