<div class="container_activities">
  <div class="card_info">
    <div>
      <%= @activity.description %>
    </div>
    <div>
      Where?:<%= @activity.localisation %>
      <div class="localisation">
        When?<%= @activity.date %>
      </div>
    </div>
  </div>
  <h2>Comments</h2>
  <div class="chatbox">
    <% @activity.user_activities.each do |user_activity| %>
      <% user_activity.comments.each do |comment| %>
        <div><%= comment.content %></div>
      <% end %>
    <% end %>
  </div>
  <h3>Attending</h3>
  <% @activity.user_activities.each do |user_activity| %>
    <%= user_activity.user.nickname %>
  <% end %>
  <% if @user_activity %>
    <div class="container_new">
      <div class="information_newcomment">
        <%= simple_form_for [@user_activity, @comment] do |f| %>
          <%= f.input :content %>
          <%= f.hidden_field :activity, value: @activity.id  %>
          <%= f.submit class: 'btn btn-secondary' %>
        <% end %>
      </div>
    </div>
  <% end %>
